/* PC */
@media (min-width: 1025px) {
    .bar-btn {
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1024px){
    .content-section {
        width: 700px;
    }

    .date-list {
        margin: 40px 100px;
    }

    .place-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 90px;
        margin-right: 90px;
    }

    .bar-btn {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .date-list {
        margin-left: 10px;
        margin-right: 10px;
    }

    .place-list {
        margin-left: 10px;
        margin-right: 10px;
        display: grid;
    }

    .content-section .contact-body {
        display: flex;
        flex-direction: column;
    }

    .contact-body .contact-information {
        margin: 0 80px;
    }

    .contact-input {
        margin: 10px 20px;
    }

    .input-name {
        width: 50%;
    }

    .input-mail {
        width: 50%;
    }

    .input-inline {
        display: flex;
    }

    .place-list .place-item {
        margin: 50px 0;
    }

    #content #band {
        margin: 0 20px;
    }

    #nav {
        display: block;
    }
    
    #nav .subnav {
        position: initial;
        background-color: black;
        text-align: left;
    }

    #nav > li {
        display: block;
        text-align: left;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav > li > a {
        display: block;
        width: 100%;
    }

    #nav .subnav a {
        color: white;
        padding: 5px 40px
    }

    #nav > li > a:hover {
        color: black;
        background-color: #ccc;
        transition: var(--trasition-time);
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }

}